/* Utility */

.border {
    border: 1px solid magenta;
}

/* Styles */

body {
    margin: 0;
}

main,
.scoreboard,
.team {
    display: flex;
    flex-direction: column;
}

main {
    background-color: #1B244A;
    color: #EEEEEE;
    height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    flex: .2; 
    align-items: center;
}

h1 {
    margin-top: 0;    
}

p {
    color: #F94F6d;
    font-size: 2.5rem;
}

.scoreboard {
    flex: 1;
    gap: 10%;
    /* justify-content: space-around; */
}

.team{
    align-items: center;
}

.score {
    background-color: #080001;
    width: 155px;
    height: 120px;
    text-align: center; 
}