/* Utility */

.border {
    border: 1px solid magenta;
}

/* Styles */

body {
    margin: 0;
}

main {
    background-color: #1B244A;
    height: 100vh;
}

header {
    text-align: center;
}

h1,
h2 {
    color: #EEEEEE;
}

h1 {
    margin-top: 0;    
}

p {
    color: #F94F6d;
    font-size: 2.5rem;
}

.scoreboard {
    display: flex;
    flex-direction: column;  
    justify-content: space-evenly;
    height: fit-content;
}

.team{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score {
    background-color: #080001;
    width: 150px;
    height: 150px;
    text-align: center; 
}